/*trash width * height == 40px * 40px */
.trash {
  position: relative;
}

.trash .can,
.trash .lid {
  display: inline-block;
  background: url('../img/trash.png') 0 0 no-repeat;
  position: absolute;
  left: 8px;
  top: 8px;
}

/*for hidden trash's can*/
.trash .lid {
  -webkit-transform-origin: 25% 100%;
  -moz-transform-origin: 25% 100%;
  -ms-transform-origin: 25% 100%;
  -o-transform-origin: 25% 100%;
  transform-origin: 25% 100%;
  -webkit-transition: -webkit-transform .3s ease-in;
  -moz-transition: -moz-transform .3s ease-in;
  -ms-transition: -ms-transform .3s ease-in;
  -o-transition: -o-transform .3s ease-in;
  transition: transform .3s ease-in;

  height: 12px;
  width: 40px;
}


/*for hidden trash's lid*/
.trash .can {
  background-position: 0 -11px;
  margin-top: 12px;
  height: 28px;
  width: 40px;
}

/*transform the trash's lid */
.trash:hover .lid {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .3s ease-in;
  -moz-transition: -moz-transform .3s ease-in;
  -ms-transition: -ms-transform .3s ease-in;
  -o-transition: -o-transform .3s ease-in;
  transition: transform .3s ease-in;
}
